{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <h4 class="border-bottom pb-2 my-3">{{ profile_user.username }}</h4>
    {% include "common/profile/profile_tabs.html" %}

    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th>번호</th>
            <th>게시판</th>
            <th>구분</th>
            <th style="width:50%">내용</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if object_list %}
        {% for object in object_list %}
        <tr class="text-center">
            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
            {% if object.question.category %}
                <td>{{ object.question.category.description }}</td>
                <td>질문</td>
            {% else %}
                <td>{{ object.answer.question.category.description }}</td>
                <td>답변</td>
            {% endif %}
            <td class="text-left">
                <a href="{% if object.question.id %}{% url 'pybo:detail' object.question.id %}{% else %}{% url 'pybo:detail' object.id %}{% endif %}#comment_{{ object.id }}">
                    {{ object.content|slice:":100" }}{% if object.content|length > 100 %}...{% endif %}
                </a>
            </td>
            <td>{{ object.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">댓글이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징 처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 처음 페이지 -->
        {% if page_obj.number > 1 %}
        <li class="page-item">
            <a class="page-link" href="?page=1">
                처음
            </a>
        </li>
        {% endif %}
        <!-- 이전 페이지 -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link"
               data-page="{{ page_obj.previous_page_number }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="1" aria-disabled="true" href="#">
                이전
            </a>
        </li>
        {% endif %}
        <!-- 페이지 리스트 -->
        {% if page_obj.paginator.num_pages > 1 %}
            {% if page_obj.number > 6 %}
            <li class="page-item disabled">
                <a class="page-link" href="#">...</a>
            </li>
            {% endif %}
            {% for page_number in page_obj.paginator.page_range %}
            {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
                {% if page_number == page_obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}&so={{ so }}&kw={{ kw }}">

                        {{ page_number }}
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_number }}" href="#">
                        {{ page_number }}
                    </a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}
            {% if page_obj.number < page_obj.paginator.num_pages|add:-5 %}
            <li class="page-item disabled">
                <a class="page-link" href="#">...</a>
            </li>
            {% endif %}
        {% endif %}
        <!-- 다음 페이지 -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
               data-page="{{ page_obj.next_page_number }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                다음
            </a>
        </li>
        {% endif %}
        <!-- 마지막 페이지 -->
        {% if page_obj.number < page_obj.paginator.num_pages %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                마지막
            </a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징 처리 끝 -->
</div>
<form id="searchForm" method="get" action="">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function(){
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}