.comment {
    border-top:dotted 1px #ddd;
    font-size:0.7em;
}
.list-group-item.category-header {
    background-color: #28a745; /* 초록색 */
    color: white;             /* 텍스트 흰색 */
    font-weight: bold;        /* 굵게 (선택 사항) */
}
