{% load static %}
<!doctype html>
<html lang="ko">
<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
		<!-- pybo CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<title>Hello, pybo!</title>
</head>
<body>
    {% include "navbar.html" %}

    <div class="container-fluid">
        <div class="row">
            <!-- 왼쪽 카테고리 -->
            <div class="col-md-2">
                {% include "category_bar.html" %}
            </div>

            <!-- 오른쪽 메인 콘텐츠 -->
            <div class="col-md-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- JS 파일들 -->
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>